h1{
	 font-size: 25px;
  	text-align: center;
  	font-weight: 500;
  	color: #444444; 
  	margin-bottom: 15px;
  	/*position: fixed;*/
}
h3{
	font-size: 30px;
	float: right;
	font-family: '仿宋';
	
}
.h333{
	width: 600px;
	margin: 0 auto;
	overflow: hidden;
}
.infos{
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	overflow: hidden;
	z-index: 999;
}
.paper{
	float: left;
	padding: 15px;
	width: 65%;
	/*height: 600px;*/
	border: 1px solid #dad5d5;
	border-radius: 5px;
	transition: all 0.5s;
	position: relative;
	background-color: #fdf9f9;
}
.paper>img{
	width: 100%;
	height: 100%;
}
.evaluate{
    padding: 10px;
    width: 25%;
    /*height: 300px;*/
    border: 1px solid #dad5d5;
    transition: all .5s;
    margin-left: 15px;
    position: fixed;
    right: 60px;
    /*overflow-y: scroll;*/
    top: 150px;
    background-color: #FDF9F9;
}

.modal-body::-webkit-scrollbar { /*滚动条整体部分，其中的属性有width,height,background,border等（就和一个块级元素一样）（位置1）*/
    width: 5px;
    height: 3px;
}
.modal-body::-webkit-scrollbar-button { /*滚动条两端的按钮，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果（位置2）*/
    background: #f3f3f3;
    display: none;
}
.modal-body::-webkit-scrollbar-track { /*外层轨道，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果（位置3）*/
    background: #f9f9f9;
}
.modal-body::-webkit-scrollbar-track-piece { /*内层轨道，滚动条中间部分（位置4）*/
    background: #f3f3f3;
}
.modal-body::-webkit-scrollbar-thumb { /*滚动条里面可以拖动的那部分（位置5）*/
    background: #CCCCCC;
    border-radius: 1px;
}
.modal-body::-webkit-scrollbar-corner { /*边角（位置6）*/
    background: #82AFFF;
}
.modal-body {
    scrollbar-arrow-color: #f4ae21; /**//*三角箭头的颜色*/
    scrollbar-face-color: #333; /**//*立体滚动条的颜色*/
    scrollbar-3dlight-color: #666; /**//*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #666; /**//*滚动条空白部分的颜色*/
    scrollbar-shadow-color: #999; /**//*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #666; /**//*立体滚动条强阴影的颜色*/
    scrollbar-track-color: #666; /**//*立体滚动条背景颜色*/
    scrollbar-base-color: #f8f8f8; /**//*滚动条的基本颜色*/
}
.paper:hover,.evaluate:hover{
	box-shadow: 0px 0px 3px #0d7b58; 
}
.Question,.Score-item{
	padding: 10px 5px;
}
.Question{
	
	border-top: 1px solid #0d7b58;
}
.ipt{
	border: none;
	width: 100%;
    height: 21px;
    padding-left: 13px;
    outline: none;
    background-color:inherit;
}
tr:hover{
	background: #F5F5F5;
}
th,td{
	text-align: center !important;
	vertical-align: middle !important;
	color: #606060 !important;
}
/*查看面试题按钮*/
.ti{
    padding: 10px 5px;
    /*position: absolute;*/
    background: #19A97B;
    border-radius: 5px;
    top: 260px;
    margin: 0 auto;
    width: 30px;
    line-height: 24px;
    cursor: pointer;
    position: fixed;
    padding-left: 10px;
    color: #fff;
}
/* 弹窗 (background) */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

/* 弹窗内容 */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* 添加动画 */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* 关闭按钮 */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
	padding: 2px 16px;
	height: 250px;
	overflow: scroll;
	}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
p{
	color: #444;
	font-size: 16px;
}
button{
	padding: 10px;
	background: #19A97B;
	border-radius: 5px;
	border: none;
	outline: none;
	text-align: center;
	margin: 0 auto;
	width: 70%;
	letter-spacing: 3px;
	opacity: 0.8;
	margin-left: 60px;
    color: #fff;
}
button:hover{
	opacity: 1;
}
.clear{
    clear: both;
}
